<body>
  <h1>Skate Park</h1>

  <div class="py-4">
    <h2>Administración</h2>
    <hr class="w-50" />

    <table class="table w-50 m-auto">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Foto</th>
          <th scope="col">Nombre</th>
          <th scope="col">Años de experiencia</th>
          <th scope="col">Especialidad</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>

      <tbody id="cuerpo">
        {{#each usuarios}}
        <tr>
          <td>{{@index}}</td>
          <td><img src='/imgs/{{this.foto}}' style='width:100px;'></td>
          <td>{{this.nombre}}</td>
          <td>{{this.anios_experiencia}}</td>
          <td>{{this.especialidad}}</td>
          <td><input type='checkbox' {{#if this.estado}} checked {{/if}} onclick='changeStatus({{this.id}},this)'>
          </td>
        </tr>

        {{/each}}
        <tr>
          <th scope="row">1</th>
          <td>
            <div></div>
          </td>
          <td>Tony Hawk</td>
          <td>12</td>
          <td>Kickflip</td>
          <td><input type="checkbox" checked /></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>
            <div></div>
          </td>
          <td>Evelien Bouilliart</td>
          <td>10</td>
          <td>Heelflip</td>
          <td><input type="checkbox" checked /></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>
            <div></div>
          </td>
          <td>Danny Way</td>
          <td>8</td>
          <td>Ollie</td>
          <td><input type="checkbox" /></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

<!--La vista del administrador debe mostrar los participantes registrados y permitir
// aprobarlos para cambiar su estado, HELPER EACH-->

<script>
  const changeStatus = async (id, e) => {
    const estado = e.checked
    try {
      await axios.put('http://localhost:3000/usuarios', {
        id,
        estado
      })
      alert(estado ? 'Usuario aprobado' : 'Usuario en revisión')

    } catch ({ response }) {
      const { data } = response
      const { error } = data
      alert(error)
    }
  }
</script>

</html>