<body>
  <h1>Skate Park</h1>

  <div class="py-4">
    <h2>Lista de participantes</h2>

    <hr />

    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Foto <input id="foto"> </th>
          <th scope="col">Nombre <input id="nombre"></th>
          <th scope="col">Años de experiencia <input id="anios_experiencia"></th>
          <th scope="col">Especialidad <input id="especialidad"></th>
          <th scope="col">Estado <input id="estado"></th>
        </tr>
      </thead>
      <tbody>
        {{#each usuarios}}
        <tr>
          <td>{{@index}}</td>
          <td><img src='/imgs/{{this.foto}}' style='width:100px;'></td>
          <td>{{this.nombre}}</td>
          <td>{{this.anios_experiencia}}</td>
          <td>{{this.especialidad}}</td>
          <td>{{#if this.estado}} aprobado {{/if}} {{#else}} en revision {{/else}}  </td>
          </td>
        </tr>

        {{/each}}
      </tbody>
    </table>
    <a href="/Login">Iniciar Sesión</a> |
    <a href="/Registro">Registrarme</a>
  </div>
</body>

<!--La vista correspondiente a la ruta raíz debe mostrar todos los participantes
// registrados y su estado de revisión, ¿unir con registro handlebars?-->
<script>
  ('button') click(async () => {
    const email = $('#email').val()
    const foto = $('#foto').val()
    const nombre = $('#nombre').val()
    const anios_experiencia = $('#anios_experiencia').val()
    const especialidad = $('#especialidad').val()
    const estado = $('#estado').val()

    const payload = { email, foto, nombre, anios_experiencia, especialidad, estado }

    try {
      await axios.post('/usuarios', payload)
      alert("Usuario registrado con exito")

      window.location.href = "/login"
    }
    catch ({ response }) {
      const { data } = response
      const { error } = data
      alert(error)

    }
  })

</script>

</html>